<a href="https://colab.research.google.com/github/zohai-ibb/Python/blob/main/Copy_of_session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
salary = float(input("Enter CTC Salary (in lakhs): "))

# Deductions
hra = 0.10 * salary
da = 0.05 * salary
pf = 0.03 * salary

salary_after_deduction = salary - (hra + da + pf)

# Tax calculation based on slab
if salary < 5:
    final_salary = salary_after_deduction

elif salary >= 5 and salary < 10:
    final_salary = salary_after_deduction - (0.10 * salary_after_deduction)

elif salary >= 10 and salary < 20:
    final_salary = salary_after_deduction - (0.20 * salary_after_deduction)

else:
    final_salary = salary_after_deduction - (0.30 * salary_after_deduction)

print("In-hand Salary after all deductions:", final_salary, "lakhs")

Enter CTC Salary (in lakhs): 8
In-hand Salary after all deductions: 5.904 lakhs

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here

angle1 = int(input("Enter angle number one: "))
angle2 = int(input("Enter angle number two: "))
angle3 = int(input("Enter angle number three: "))

if angle1 > 0 and angle2 > 0 and angle3 > 0 and angle1 + angle2 + angle3 == 180:
    print("Angles can form a triangle")
else:
    print("Angles cannot form a triangle")

Enter angle number one :60
Enter angle number two :60
Enter angle number three :59
Angle Can form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
cost_price = int(input("Enter the Cost Price : "))
selling_price = int(input("Enter the Selling Price : "))

if cost_price < selling_price:
  print("It is profit")
else:
  print("Its a loss")

Enter the Cost Price : 55
Enter the Selling Price : 555
It is profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here
while True:
    print("\n--- Menu ---")
    print("1. CM to Feet")
    print("2. KM to Miles")
    print("3. USD to INR")
    print("4. Exit")

    choice = int(input("Enter your choice: "))

    if choice == 1:
        cm = float(input("Enter value in centimeters: "))
        ft = cm / 30.48
        print("Feet:", ft)

    elif choice == 2:
        km = float(input("Enter value in kilometers: "))
        miles = km * 0.621371
        print("Miles:", miles)

    elif choice == 3:
        usd = float(input("Enter amount in USD: "))
        inr = usd * 83   # approximate conversion rate
        print("INR:", inr)

    elif choice == 4:
        print("Exiting program")
        break

    else:
        print("Invalid choice! Please try again.")

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here

first = 0
second = 1

i = 1
while i <= 10:
  print(first)
  sum = first + second
  first = second
  second = sum
  i = i+1

0
1
1
2
3
5
8
13
21
34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
n = int(input("Enter the number to calc factorial :"))
fact = 1;

for i in range(n, 0, -1):
  fact = fact * n;
  n = n - 1;
print(fact)

Enter the number to calc factorial :5
120

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here

n = int(input("Enter a number : "))
total = 0
while n != 0 and total < 300:
  if n % 5 != 0:
    total = total + n;
  n = n-1;
print(total)

Enter a number : 30
309

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
total = 0
avg = 0
i = 0
while True:
  n = int(input("Enter a number :"))
  if n == 0:
    break
  else:
    i = i + 1
    total = total + n;
avg = total / i;
print("Sum ", total)
print("Average ", avg)

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
for i in range(2000, 3201):
  if(i % 7 == 0 and i % 5 != 0):
    print(i, end = ", ")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here
for i in range(1000, 3001):
  if(i % 2 == 0):
    print(i, end = " ")

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here
import math

x, y = 0, 0

while True:
    move = input().strip()

    if move == "!":
        break

    direction, steps = move.split()
    steps = int(steps)

    if direction == "UP":
        y += steps
    elif direction == "DOWN":
        y -= steps
    elif direction == "LEFT":
        x -= steps
    elif direction == "RIGHT":
        x += steps

# Distance from origin
distance = math.sqrt(x*x + y*y)

# Print nearest integer
print(round(distance))

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
for i in range(0, 300):
    x = i
    # Count number of digits
    digits = 0
    temp = x
    if temp == 0:   # special case for 0
        digits = 1
    else:
        while temp > 0:
            temp //= 10
            digits += 1

    total = 0
    temp = x
    while temp > 0:
        digit = temp % 10
        total += digit ** digits
        temp //= 10

    if total == i:
        print(i)

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here