<a href="https://colab.research.google.com/github/zohai-ibb/Python/blob/main/Copy_of_session_6_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [7]:
def convert(l):
  s1 = set(l)
  return list(s1)

l = [1,2,3,3,3,3,4,5]
print(convert(l))

[1, 2, 3, 4, 5]

In [6]:
l = [1,2,3,3,3,3,4,5]
s1 = set(l)
print(s1)
l = list(s1)
print(l)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [22]:
# Write code here
def function(str):
  s = str.split("-")
  s.sort()
  str2 = "-".join(s)
  return str2

str1 = "green-red-yellow-black-white"
print(function(str1))

black-green-red-white-yellow

In [16]:
str1 = "green-red-yellow-black-white"

s = str1.split("-")
print(s)
list1 = []
for i in s:
  print(i)

['green', 'red', 'yellow', 'black', 'white']
green
red
yellow
black
white

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [29]:
# Write code here
def counts(string):
  lower = 0
  upper = 0
  for i in string:
    if i.isupper():
      upper = upper + 1
    elif i.islower():
      lower = lower + 1
  print("Number of Uppercase : ", upper)
  print("Number of Lowercase : ", lower)

counts('CampusX is an Online Mentorship Program fOr EnginEering studentS.')

Number of Uppercase :  9
Number of Lowercase :  47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [30]:
# Write code here
def even_no(list1):
  result = []
  for i in list1:
    if i%2==0:
      result.append(i)
  return result;

lsit1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(even_no(lsit1))

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [36]:
# Write code here
def perfact_number(n):
  divisor = []
  sum = 0
  for i in range(1, n - 1):
    if(n%i==0):
      divisor.append(i)
      sum = sum + i;
  if(sum == n and (sum + n)//2 == n):
    return True
  return False

perfact_number(8128)

True

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [41]:
# Write code here
def function1(*args):
  newDict = {}
  for arg in args:
    newDict.update(arg)
  return newDict

print(function1({1:10, 2:20}, {3:30, 4:40}, {5:50,6:60}))

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns

---

the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
# Write code here

def counts(string):
  s = string.split(' ')

In [16]:
string = "hello how are you i am fine thank you"

s = string.split(' ')
counts = {}
for i in range(len(s)):
  counts[s[i]] = 0
for i in s:
  counts[i] = counts[i] + 1
for i in counts:
  if(counts[i] > 1):
    print(i," -> ", counts[i])

you  ->  2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
# Write code here

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# Write code here

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [17]:
# Write code here
l1 = [1, 2, 3]
l2 = [1, 2, 3]
l3 = [1, 2, 3]
print(list(map(lambda x,y,z:x+y+z,l1,l2,l3)))

[3, 6, 9]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [19]:
# Write code here
list1 = [1,2,3,4,5,6]
print(list(map(lambda x:x[1]**x[0],enumerate(list1))))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here

`Problem-14`: Use reduce to convert a 2D list to 1D

In [24]:
# Write code here
from functools import reduce

arr = [[1, 2, 3, 4, 8], [4, 5], [6, 7, 8]]

result = reduce(lambda x, y: x + y, arr)

print(result)

[1, 2, 3, 4, 8, 4, 5, 6, 7, 8]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']