<a href="https://colab.research.google.com/github/zohai-ibb/Python/blob/main/FileHandling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Working With File Handling in PYTHON

In [5]:
f = open("Sample.txt", "w")
f.write("Hello Python")
f.close()

In [8]:
f = open("Sample.txt", "w")
f.write("Hello Python 2")
f.close()

In [14]:
f = open("Sample.txt", "a")
f.write("\nWriting with append")
f.close()

In [15]:
f = open("Sample.txt", "r")
s = f.read()
print(s)
f.close()

Hello Python 2
Writing with append
Writing with append
Writing with append

In [18]:
f = open("Sample.txt", "r")
for line in f:
  print(line, end="")

f.close()

Hello Python 2
Writing with append
Writing with append
Writing with append

Using **with**

In [22]:
with open("Sample.txt", "w") as f:
  f.write("Hello World\n")
  f.write("Hello World\n")
  f.write("Hello World\n")
  f.write("Hello World\n")
  f.write("Hello World\n")
  f.write("Hello World\n")

In [29]:
with open("Sample.txt", "r") as f:
  print(f.read(10))
  print(f.read(10))
  print(f.read(10))
  print(f.tell())
  f.seek(10)
  print("\n")
  print(f.read(10))

Hello Worl
d
Hello Wo
rld
Hello
30


d
Hello Wo

In [31]:
l = [1, 2, 3, 4]
import json
with open("demo.json", 'w') as f:
  json.dump(l, f)

In [33]:
import json
with open("demo.json", 'r') as f:
  print(json.load(f))

[1, 2, 3, 4]

In [35]:
#Using Json custom format

import json

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

person = Person("Zach", 19)

def show(person):
  if(isinstance(person, Person)):
    return "Name -> {} , Age -> {}".format(person.name, person.age)

with open("demo.json", 'w') as f:
  json.dump(person, f, default=show)

In [36]:
import json
with open("demo.json", 'r') as f:
  print(json.load(f))

Name -> Zach , Age -> 19

In [40]:
#Using Pickle

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def display(self):
    print("Name -> {} Age -> {}".format(self.name, self.age))

person = Person("Zach", 19)

import pickle
with open("person.pkl", 'wb') as f:
  pickle.dump(person, f)

In [41]:
with open("person.pkl", 'rb') as f:
  p = pickle.load(f)

p.display()

Name -> Zach Age -> 19